//	
//	About
//	

.about {
	.experience {
		float: none;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 3em;

		@media screen and ( max-width : $tabletBreakpoint ) {
			margin-bottom: 0;
			.responsibilities {
				display: none;
			}
		}

		@media screen and ( max-width : $mobileBreakpoint ) {
			display: inline;
			padding-right: 0;
			&:not(:last-child) {
				&:after {
				}
				h3:after {
					display: inline;
					content: ', ';
					margin-right: 0.1em;
				}
			}
			h3 {
				display: inline;
			}
			.dates {
				display: none;
			}
		}
		.job-title {

		}
		.dates {
			margin-bottom: 2em;
			font-weight: normal;
		}
	}
}