
//	
//	Layout
//	

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.clearfix:after {
	clear: both;
	width: 100%;
	content: '';
	display: table;
}

.hide-overflow {
	overflow: hidden;
}

@mixin hide {
	display: none;
}

@mixin show {
	display: block;
}